body {
    font-family:"Lucida Grande";
}
.title {
    margin-top:1px;
    width:480px;
    color: White;
    text-align:center;
    border-radius:8px;
    FONT-SIZE:50px;
    display:inline-block;
          box-sizing: border-box;
  }
  
  .title p {
      box-sizing: border-box;
      color:whitesmoke;
      background-color:royalblue;
  }
  .top-wrapper {
  padding: 180px 0 10px 0;
  text-align:center;
  color:white;
  background-image: url(https://c0.wallpaperflare.com/preview/955/709/295/analysis-banking-business-businesswoman.jpg);
  background-size:cover;
  }
  .container {
      width:100%;
      margin:0 auto;
  }
  .container p {
    font-size:20px;
  }

  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .econometrics {
    background-color: #239b76;
    font-style:none;
  }
  
  .statistics {
    background-color: #3b5998;
    margin-right: 10px;
    font-style:none;
  }
.GIS {
  background-color: #55acee;
  width:auto
}
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    width:150px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  header {
  height: 85px;
  width: 100%;
  background-color: paleturquoise;
  opacity:0.5;
  position :fixed;
  top: 0;
  z-index: 10;
}
.logo {
  height:70px;
  margin-top:8px;
  float:left;
}
.header-left{
  float:left;
}
.header-right{
  float:right;
  line-height: 85px;
  padding: 0 25px;
  display: block;
  transition: all 0.5s;
  color: white;
}
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

  .fa {
    margin-right: 5px;
  }
  .lesson-wrapper {
  padding-bottom: 400px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 38%;
  width: 50%;
  color: white;
  padding-left:6px;
  margin-left:80px;
  line-height: 1.;
  vertical-align: middle;
  
}

.text-contents {
  width: 90%;
  display: inline-block;
  margin-top: 30px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 5px solid #eee;
  padding-bottom: 80px;
  padding-left:10px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: gold;
  cursor: pointer;
  box-shadow: 0 7px orange;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
  p span {
    display:block;
    
  }
